.NavBar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #030510;
}

.NavBar > .nav-logo {
    font-weight: 700;
    font-size: 1.7rem;
    margin: 15px;
    color: #fd7014;
}

.NavBar > .nav-items > a {
    color: #EEEEEE;
    font-weight: 650;
    font-size: 1rem;
    text-decoration: none;
    margin: 15px;
    position: relative;
    opacity: 0.9;
}

.NavBar > .nav-items > a:hover {
    opacity: 1;
    color: #fd7014;
}

.NavBar > .nav-items > a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: all .45s;
}

.NavBar > .nav-items > a:hover::before {
    width: 100%;
}

.NavBar > .nav-toggle {
    display: none;
}


@media (max-width: 700px) {

    .NavBar > .nav-items{
        position: absolute;
        top: 60px;
        display: flex;
        flex-direction: column;
        background: #393e46;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        transition: all .45s
    }

    .NavBar > .nav-items > a {
        color: #EEEEEE;
    }

    .NavBar > .nav-items > a::before{
        background: transparent;
    }
    
    .NavBar > .nav-items.open{
        transform: translateX(0);
    }

    .NavBar > .nav-toggle{
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .nav-toggle > .bar {
        position: relative;
        width: 32px;
        height: 2px;
        background: white;
        transition: all 0.45s ease-in-out;
    }

    .nav-toggle > .bar::before, 
    .nav-toggle > .bar::after {
        content: "";
        position: absolute;
        height: 2px;
        background: white;
        border-radius: 2px;
        transition: all 0.45s ease-in-out;
    }

    .nav-toggle > .bar::before {
        width: 2rem;
        transform: translateY(-8px);
        right: 0;
    }
    .nav-toggle > .bar::after {
        width: 2rem;
        transform: translateY(8px);
    }

    .nav-toggle.open > .bar {
        transform: translateX(-40px);
        background: transparent;
    }

    .nav-toggle.open > .bar::before{
        width: 32px;
        transform: rotate(45deg) translate(26px, -26px);
    }
    .nav-toggle.open > .bar::after{
        transform: rotate(-45deg) translate(26px, 26px);
    }

    ::-webkit-scrollbar {
        display: none;
    }
}

