*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ReplaceImg{
  width: 37vh;
  height: 16vh;
  margin-left: 15px;
}

.content{
  display: grid;
  grid-template-columns: auto;
}

.App{
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(199,91,36,1) 82%, rgba(228,112,15,1) 95%, rgba(255,141,0,1) 100%);
}